{% extends 'main.html' %}
{% block style %}
	.plyr__control--next, .plyr__control--prev, a[aria-label="Playlist"] {
		display: none;
	}
    .sign__content {
        color: #fff;
    }
    #picture {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

{% endblock style %}
{% block title %} <title>{{artist.username}} Edit Profile | JetSetRadio</title>{% endblock title %}
{% block content %}
<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="{% url 'single-artist' artist.slug artist.id %}">Back to Profile</li>
                </ul>
            </div>

            <div class="col-12">
                <div class="sign">
                    <div class="sign__content">
                        <form method="POST" action="{% url "single-artist-edit" %}" class="sign__form">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="sign__group">
                                <label class="breadcrumb__item">{{ field.label }}</label>
                                {{field}}

                                {% for error in field.errors %}
                                <p style="color: red;">{{error}}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            
                            <button class="sign__btn" type="submit">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- end main content -->
{% endblock content %}